/*style.css*/
.gridStyle { border: 1px solid rgb(212,212,212) }

.fade {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}

.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
